* @signalfx/gdi-js-maintainers @signalfx/gdi-js-approvers

.github/CODEOWNERS @signalfx/gdi-TEAM-maintainers

#####################################################
#
# Docs reviewers
#
#####################################################

*.md    @signalfx/gdi-js-maintainers @signalfx/gdi-js-approvers @signalfx/gdi-docs
*.rst   @signalfx/gdi-js-maintainers @signalfx/gdi-js-approvers @signalfx/gdi-docs
docs/   @signalfx/gdi-js-maintainers @signalfx/gdi-js-approvers @signalfx/gdi-docs
README* @signalfx/gdi-js-maintainers @signalfx/gdi-js-approvers @signalfx/gdi-docs
