default:
  image: 'cimg/node:lts'

cache:
  key:
    files:
      - package-lock.json
  paths:
    - .npm/
    - node_modules/

# tell npm to store cache in .npm so it can be cached by Gitlab
before_script:
  - npm ci --cache .npm --prefer-offline

stages:
  - setup
  - test
  - release 

install:
  stage: setup 
  script:
    - npm install

test:
  script:
    - npm test 

lint:
  script:
    - npm run lint 

build:
  artifacts:
    paths:
      - *.tgz
  script:
    - npm run compile
    - npm pack

release:
  stage: release
  artifacts:
    paths:
      - dist/
  only:
    - /^v[0-9]+\.[0-9]+\.[0-9]+.*/
  except:
    - branches
  script:
    - mkdir dist
    - mv splunk-otel-${CI_COMMIT_REF_NAME:1}.tgz dist/
    - shasum -a 256 dist/* > dist/checksums.txt
    - echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/.npmrc
    - npm publish ./dist/splunk-otel-${CI_COMMIT_REF_NAME:1}.tgz
    - rm -f ~/.npmrc
