---
- name: Uninstall Splunk Node.js Agent
  become: true
  block:
    - name: Remove the package "@splunk/otel"
      community.general.npm:
        name: "@splunk/otel"
        state: absent
        path: "{{ splunk_dest_folder }}"

    - name: Remove backup folder
      ansible.builtin.file:
        state: absent
        path: "{{ splunk_backup_folder }}"
      changed_when: false
      when: not keep_backup

    - name: splunk_agent_status nodejs
      ansible.builtin.debug:
        msg: '{ "agentUninstall": "Splunk Node.js agent was successfully removed" }'

    - name: Agent uninstall result set fact
      ansible.builtin.set_fact:
        agent_result:
          error: false
          install_path: "{{ splunk_dest_folder }}"
          agent_type: "node"
          action: "{{ agent_action }}"

    - name: splunk.agent.result
      ansible.builtin.debug:
        msg: "{{ agent_result | to_json }}"

  rescue:
    - name: splunk_agent_status Uninstall Task Failed
      ansible.builtin.debug:
        msg: '{ "agentRollback": "Error occurred while uninstalling Splunk Node.js agent." }'

    - name: Set Node Agent Result Fact
      ansible.builtin.set_fact:
        splunk_agent_result:
          error: true
          install_path: null
          agent_type: "node"
          action: "{{ agent_action }}"

    - name: splunk.agent.result
      ansible.builtin.debug:
        msg: "{{ splunk_agent_result | to_json }}"