name: Continuous Integration
on:
  pull_request:
  push:
    branches:
      - main
permissions: read-all

jobs:
  linux-prebuilds:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - container: node:10.13.0
            versions '8.5.0 9.0.0 10.0.0 11.0.0 12.0.0 13.0.0'
          - container: node:14.0.0
            versions: '14.0.0 15.0.0 16.0.0'
    container: ${{ matrix.container }}
    steps:
      - name: Cache prebuilds
        uses: actions/cache@v2
        with:
          path: prebuilds
          key: ${{ matrix.container }}-prebuilds-${{ github.sha }}
      - name: Checkout
        uses: actions/checkout@v2
      - uses: actions/setup-node@v2
      - name: Install npm dependencies
        run: npm ci
      - name: Prebuild
        run: npm run prebuild:os ${{ matrix.versions }}
  unit-tests:
    runs-on: ${{ matrix.os }}
    permissions: read-all
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-latest', 'windows-latest']
        nodejs: ['10', '12', '14', '16']
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.nodejs }}
      - name: Install npm dependencies
        run: npm ci
      - name: Test
        run: npm run test
      - name: Report coverage
        run: npm run codecov

  lint:
    if: ${{ github.event_name == 'pull_request' }}
    runs-on: ubuntu-latest
    permissions: read-all
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Fetch base_ref
        run: git fetch origin ${{ github.base_ref }}
      - uses: actions/setup-node@v2
        with:
          node-version: 16
      - name: Install npm dependencies
        run: npm ci
      - name: Check version
        run: npm run version:check
      - name: Lint commits
        run: npm run lint:commits -- --from origin/${{ github.base_ref }}
      - name: Verify changes
        run: npm run change:check

  build:
    runs-on: ubuntu-latest
    permissions: read-all
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - uses: actions/setup-node@v2
        with:
          node-version: 16
      - name: Install npm dependencies
        run: npm ci
      - name: Lint code
        run: npm run lint
      - name: Build
        run: npm run compile

  e2e-published:
    runs-on: ubuntu-latest
    permissions: read-all
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Get versions
        run: |
          docker-compose --version;
          docker --version;
      - name: Test basic example
        working-directory: test/examples
        run: docker-compose -f e2e.docker-compose.yml -f published.override.yml up --exit-code-from test
      - name: Test express example
        working-directory: test/examples
        run: docker-compose -f e2e.docker-compose.yml -f express.override.yml -f published.override.yml up --exit-code-from test
      - name: Test mixed example
        working-directory: test/examples
        run: docker-compose -f e2e.docker-compose.yml -f mixed.override.yml -f published.override.yml up --exit-code-from test
      - name: Test log-injection example
        working-directory: test/examples
        run: docker-compose -f e2e.docker-compose.yml -f log-injection.override.yml -f published.override.yml up --exit-code-from test

  e2e-local:
    runs-on: ubuntu-latest
    permissions: read-all
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Test basic example
        working-directory: test/examples
        run: docker-compose -f e2e.docker-compose.yml up --exit-code-from test
      - name: Test express example
        working-directory: test/examples
        run: docker-compose -f e2e.docker-compose.yml -f express.override.yml up --exit-code-from test
      - name: Test mixed example
        working-directory: test/examples
        run: docker-compose -f e2e.docker-compose.yml -f mixed.override.yml up --exit-code-from test
      - name: Test log-injection example
        working-directory: test/examples
        run: docker-compose -f e2e.docker-compose.yml -f log-injection.override.yml up --exit-code-from test
