name: Continuous Integration
on:
  pull_request:
  push:
permissions: read-all

jobs:
  prebuilds-linux:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - container: node:12.13.0
            versions: '12.13.0 13.0.0'
            label: node12
          - container: node:14.0.0
            versions: '14.0.0 15.0.0 16.0.0 17.0.1 18.0.0'
            label: node14
    container: ${{ matrix.container }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: actions/setup-node@v2
      - name: Install npm dependencies
        run: npm ci
      - name: Prebuild
        run: npm run prebuild:os ${{ matrix.versions }}
      - name: Run tests
        run: npm run test
      - name: upload prebuilds
        uses: actions/upload-artifact@v2
        with:
          name: prebuilds-linux-${{ matrix.label }}
          path: prebuilds

  prebuilds:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-2019
            label: windows
          - os: macos-11
            label: macos
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: Install npm dependencies
        run: npm ci
      - name: Prebuild
        run: npm run prebuild:os
      - name: Run tests
        run: npm run test
      - name: upload prebuilds
        uses: actions/upload-artifact@v2
        with:
          name: prebuilds-${{ matrix.label }}
          path: prebuilds

  create-package:
    needs: [prebuilds-linux, prebuilds]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: actions/setup-node@v2
      - name: download prebuilds
        uses: actions/download-artifact@v2
      - name: copy prebuilds
        run: |
          mkdir -p prebuilds
          cp -r prebuilds-linux-node12/* prebuilds
          cp -r prebuilds-linux-node14/* prebuilds
          cp -r prebuilds-windows/* prebuilds
          cp -r prebuilds-macos/* prebuilds
      - name: Install npm dependencies
        run: npm ci
      - name: Build
        run: npm run compile
      - name: Pack
        id: pack
        run: |
          echo "::set-output name=package_file::$(npm pack)"
      - name: Upload package
        uses: actions/upload-artifact@v2
        with:
          name: ${{ steps.pack.outputs.package_file }}
          path: ${{ steps.pack.outputs.package_file }}

  unit-tests:
    needs: [prebuilds-linux, prebuilds]
    runs-on: ${{ matrix.os }}
    permissions: read-all
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-latest', 'windows-2019', 'macos-latest']
        nodejs: ['12.13', '14', '16', '17', '18']
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.nodejs }}
      - name: Install npm dependencies
        run: npm ci
      - name: Test
        run: npm run test
      - name: Report Coverage
        if: ${{matrix.nodejs == '14' && matrix.os == 'ubuntu-latest'}}
        uses: codecov/codecov-action@v2
        with:
          verbose: true

  lint:
    if: ${{ github.event_name == 'pull_request' }}
    runs-on: ubuntu-latest
    permissions: read-all
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Fetch base_ref
        run: git fetch origin ${{ github.base_ref }}
      - uses: actions/setup-node@v2
        with:
          node-version: 16
      - name: Install npm dependencies
        run: npm ci
      - name: Check version
        run: npm run version:check
      - name: Lint code
        run: npm run lint
      - name: Lint commits
        run: npm run lint:commits -- --from origin/${{ github.base_ref }}
      - name: Verify changes
        run: npm run change:check

  build:
    runs-on: ubuntu-latest
    permissions: read-all
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - uses: actions/setup-node@v2
        with:
          node-version: 16
      - name: Install npm dependencies
        run: npm ci
      - name: Build
        run: npm run compile

  platform-check:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - container: centos:7
            #cmd: 'curl -sL https://rpm.nodesource.com/setup_14.x | bash - && yum install -y nodejs gcc-c++ make'
            node-version: [12.x, 14.x, 16.x, 18.x]
    container: ${{ matrix.container }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - run: |
          rpm --query centos-release
          node --version
          npm --version
      #- name: Setup container
      #  run: ${{ matrix.cmd }}
      - name: Install npm dependencies
        run: npm ci
      - name: Compile native
        run: npm run prebuild:current
      - name: Run tests
        run: npm run test

  e2e-published:
    runs-on: ubuntu-latest
    permissions: read-all
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Get versions
        run: |
          docker-compose --version;
          docker --version;
      - name: Test basic example
        working-directory: test/examples
        run: docker-compose -f e2e.docker-compose.yml -f published.override.yml up --exit-code-from test
      - name: Test express example
        working-directory: test/examples
        run: docker-compose -f e2e.docker-compose.yml -f express.override.yml -f published.override.yml up --exit-code-from test
      - name: Test mixed example
        working-directory: test/examples
        run: docker-compose -f e2e.docker-compose.yml -f mixed.override.yml -f published.override.yml up --exit-code-from test
      - name: Test log-injection example
        working-directory: test/examples
        run: docker-compose -f e2e.docker-compose.yml -f log-injection.override.yml -f published.override.yml up --exit-code-from test
      - name: Test profiling example
        working-directory: test/examples
        run: docker-compose -f e2e.docker-compose.yml -f profiling.override.yml -f published.override.yml up --exit-code-from test

  e2e-local:
    runs-on: ubuntu-latest
    permissions: read-all
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Test basic example
        working-directory: test/examples
        run: docker-compose -f e2e.docker-compose.yml up --exit-code-from test
      - name: Test express example
        working-directory: test/examples
        run: docker-compose -f e2e.docker-compose.yml -f express.override.yml up --exit-code-from test
      - name: Test mixed example
        working-directory: test/examples
        run: docker-compose -f e2e.docker-compose.yml -f mixed.override.yml up --exit-code-from test
      - name: Test log-injection example
        working-directory: test/examples
        run: docker-compose -f e2e.docker-compose.yml -f log-injection.override.yml up --exit-code-from test
      - name: Test profiling example
        working-directory: test/examples
        run: docker-compose -f e2e.docker-compose.yml -f profiling.override.yml up --exit-code-from test
