name: Continuous Integration
on:
  pull_request:
  push:
    branches:
      - main
permissions: read-all

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    permissions: read-all
    strategy:
      fail-fast: false
      matrix:
        nodejs: ['10', '12', '14', '16']
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.nodejs }}
      - name: Install npm dependencies
        run: npm ci
      - name: Test
        run: npm run test
      - name: Report coverage
        run: npm run codecov

  lint:
    if: ${{ github.event_name == 'pull_request' }}
    runs-on: ubuntu-latest
    permissions: read-all
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Fetch base_ref
        run: git fetch origin ${{ github.base_ref }}
      - uses: actions/setup-node@v2
        with:
          node-version: 16
      - name: Install npm dependencies
        run: npm ci
      - name: Check version
        run: npm run version:check
      - name: Lint commits
        run: npm run lint:commits -- --from origin/${{ github.base_ref }}
      - name: Verify changes
        run: npm run change:check

  build:
    runs-on: ubuntu-latest
    permissions: read-all
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - uses: actions/setup-node@v2
        with:
          node-version: 16
      - name: Install npm dependencies
        run: npm ci
      - name: Lint code
        run: npm run lint
      - name: Build
        run: npm run compile

  integration:
    runs-on: ubuntu-latest
    permissions: read-all
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Get versions
        run: |
          docker-compose --version;
          docker --version;
      - name: Test basic example
        working-directory: test/examples
        run: docker-compose -f e2e.basic.docker-compose.yml -f published.override.yml up --exit-code-from test
      - name: Test express example
        working-directory: test/examples
        run: docker-compose -f e2e.express.docker-compose.yml -f published.override.yml up --exit-code-from test
      - name: Test mixed example
        working-directory: test/examples
        run: docker-compose -f e2e.mixed.docker-compose.yml -f published.override.yml up --exit-code-from test

  e2e:
    runs-on: ubuntu-latest
    permissions: read-all
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Test basic example
        working-directory: test/examples
        run: docker-compose -f e2e.basic.docker-compose.yml up --exit-code-from test
      - name: Test express example
        working-directory: test/examples
        run: docker-compose -f e2e.express.docker-compose.yml up --exit-code-from test
      - name: Test mixed example
        working-directory: test/examples
        run: docker-compose -f e2e.mixed.docker-compose.yml up --exit-code-from test
